.dashboard-title {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin: 0 0 8px 0;
  }

/* Specific grey for FY selector row */
.filters-row {
  background-color: #e9ecef;
}

.kpi-tabs {
  height: 300px;
}



.btn-primary {
  /* background-color: #e9ecef; */
  border-color: var(--accent-color);
  color: var(--accent-color); /* optional, keeps text visible on grey */
}

.btn-outline-primary {
  background-color: transparent;
  color: var(--bs-dark);
}

