.dashboard-title {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin: 0 0 8px 0;
  }

/* Specific grey for FY selector row */
.filters-row {
  background-color: #e9ecef;
}

.kpi-tabs {
  height: 300px;
}





/* .btn-outline-primary {
  background-color: transparent;
  color: var(--bs-dark);
} */

