
.declaration-section .form-check-label {
  font-size: var(--font-sm);
  line-height: 1.5;
  color: var(--text-color);
}

.file-upload-container label {
  color: var(--accent-color);
  font-size: var(--font-sm);
}

.file-upload-container input[type="file"] {
  border: var(--default-border);
  border-radius: var(--radius-xs);
  padding: 8px;
}
