
/* Section */
/* section {
  background-color: var(--bs-primary);
  border-radius: var(--border-radius);
  padding: 20px;
} */

section h2 {
  color: #475670 !important;
}

/* Utility boxes */
.utility-box {
  border: 1px solid #185f73;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  color: #185f73;
  font-weight: 500;
  font-size: 0.95rem;
  background-color: transparent; /* no background */
}

.utility-box {
  border: 1px solid #185f73;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  color: #185f73;
  font-weight: 500;
  font-size: 0.95rem;
  background-color: transparent;
  transition: all 0.3s ease;
}

.utility-box:hover {
  background-color: #185f73;
  color: white;
  box-shadow: var(--shadows);
}

.utility-box:active {
  transform: scale(0.98);
}

