


 .container-fluids{
padding-right: 2rem;
    padding-left: 6rem;
 }

.card {
  background-color: var(--bs-primary);
  border-radius: 20px;
  box-shadow: var(--shadows);
  padding: 20px;
  border: var(--border);
}

h2 {
  color: var(--accent-color);
}

.primary-button {
  background: var(--accent-color);
  border: none;
  color: var(--bs-primary);
  padding: 8px 25px;
  border-radius: var(--border-radius);
}

.text-button {
  background: none;
  border: var(--border);
  color: var(--accent-color);
  padding: 8px 25px;
  border-radius: var(--border-radius);
}


.table-header th,
.table-header td {
  vertical-align: middle;
}

input[type="file"] {
  border: var(--border);
  background-color: transparent;
  color: var(--accent-color);
  border-radius: var(--border-radius);
}
