:root{
  --bs-primary: #fff;
  --bs-secondary: #f8f9fc;
  --bs-success: #008000;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #ff0000;
  --bs-light: #f8f9fa;
  --bs-dark: #000;
   --accent-color: #0389d0;
  --default-padding: 25px;
  --default-spacing: 20px;
  --default-margin: 25px;
}

  --typography
  --primary-font : var(--accent-color)
  --secondary-font : var(--secondary-color)
  --heading-font
  --base-font-size
  --h1-font-size: '2.5rem', 
  --h2-font-size: '2rem', 
  --h3-font-size: '1.75rem', 
  --h4-font-size: '1.5rem', 
  --default-var,
  --bg-color-primary,
   --bg-color-secondary,
   --border-radius : '8px',
   --shadows :'0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)',
   --border: '1px solid #dee2e6',