:root {
  --bs-primary: #185f73;
  --bs-primary-rgb: 24, 95, 115;
  --bs-btn-font-family: "Lato", sans-serif;
}

.pageWrapper {
  margin-left: 75px;
  margin-top: 34px;
  padding: 24px;
  min-height: calc(100vh - 72px);
}

.page-wrapper-no-nav .pageWrapper {
  margin-left: 0;
}

.pageWrapper-header {
  margin-top: 1rem;
  margin-bottom: 24px;
  display: flex;
}

.back-button:hover {
  background-color: #185f73; 
  color: white !important;
}